/* html {
    font-size: 11px;
}

table {
    width: 100%;
    table-layout: fixed;
    word-break: break-all;
}

div {
    max-width: 100%;
    text-align: center;
}

th {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

img { 
    max-width: 25%; 
    height: auto; 
}

button {
    margin: 4px;
} */

.hidden {
    display: none;
}
